<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Projet</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body class="container">

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">
            Liste des compétences
        </h1>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-responsive table-bordered">
            <tr>
                <th class="text-center">Nom</th>
                <th class="text-center">Editer</th>
                <th class="text-center">Supprimer</th>
            </tr>
            <tr th:each="skill: ${skills}" class="text-center">
                <td>
                    <a th:text="${skill.name}" th:href="'/skills/'+${skill.id}">
                        Name
                    </a>
                </td>
                <td>
                    <a th:href="'/skills/'+${skill.id}+'/edit'" class="btn btn-success">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
                <td>
                    <a th:href="'/skills/delete/'+${skill.id}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="/js/jquery-3.2.0.min.js" th:href="@{/js/jquery-3.2.0.min.js}" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}" type="text/javascript"></script>
</body>

</html>