<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Créer un collaborateur</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body class="container">

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">
            Créer un collaborateur
        </h1>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <form action="#" th:action="@{/workers/}" th:object="${worker}" method="post">

            <div class="form-group">
                <label for="firstName">FirstName</label>
                <input type="text" th:field="*{firstName}" class="form-control" id="firstName" />
                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Error</label>
            </div>

            <div class="form-group">
                <label for="lastName">FirstName</label>
                <input type="text" th:field="*{lastName}" class="form-control" id="lastName" />
                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</label>
            </div>

            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
    </div>
</div>

<script src="/js/jquery-3.2.0.min.js" th:href="@{/js/jquery-3.2.0.min.js}" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}" type="text/javascript"></script>
</body>

</html>